
@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
    var selected = $"{controller}/{action}";
}
<ul class="nav nav-pills flex-column mt-md-3">
    <li class="nav-item">
        @Html.ActionLink("Inicio", "Index", "Home", new { }, new { @class = $"nav-link {(selected == "Home/Index" ? "active" : "")}" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Gestión de Especialistas", "Index", "Especialistas", new { }, new { @class = $"nav-link {(selected == "Especialistas/Index" ? "active" : "")}" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Gestión de Inventario", "Index", "Inventarios", new { }, new { @class = $"nav-link {(selected == "Inventarios/Index" ? "active" : "")}" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Gestión de Consultorios", "Index", "Consultorios", new { }, new { @class = $"nav-link {(selected == "Consultorios/Index" ? "active" : "")}" })
    </li>
    <hr />
    <li class="nav-item">
        @Html.ActionLink("Control de Citas", "Index", "Citas", new { }, new { @class = $"nav-link {(selected == "Citas/Index" ? "active" : "")}" })
    </li>
    <hr />

    <li class="nav-item">
        @Html.ActionLink("Reportes", "Index", "Reportes", new { }, new { @class = $"nav-link {(selected == "Reportes/Index" ? "active" : "")}" })
    </li>

</ul>