@{
    ViewBag.Title = "Control de Citas";
}

@model MedControlNet.Models.CitaModelo

@Scripts.Render("~/bundles/knockout")
<div class="row">

    <div class="col-6 offset-3">
        <div class="card mt-5">
            <div class="card-header">
                <h5>Nueva cita</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    if (TempData["MensajeError"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["MensajeError"]
                        </div>
                    }

                    <div class="card">
                        <div class="card-body">
                            <h5>Paciente</h5>
                            <div class="mt-3">Nombre del paciente</div>
                            <div>
                                <input type="text" id="nombrePaciente" name="nombrePaciente" class="form-control" value="@Model.CitaFormularioModelo.NombrePaciente" />
                            </div>
                            <div class="mt-3">Cédula del paciente</div>
                            <div>
                                <input type="number" id="cedulaPaciente" name="cedulaPaciente" class="form-control" value="@Model.CitaFormularioModelo.CedulaPaciente" />
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5>Especialista y Consultorio</h5>
                            <div class="mt-3">Escoga un especialista</div>
                            <div>
                                @Html.DropDownList("MedicoEspecialista", Model.medicos, new { @class = "form-select", @id = "medicoSelect" })
                            </div>
                            <div class="mt-3">Escoga un consultorio</div>
                            <div>
                                <select id="consultorioId" name="consultorioId" class="form-select">
                                    <option value="-1">Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-body">
                            <h5>Hora de la cita</h5>
                            <div class="mt-3">Horario de atención de 8 AM a 5 PM (30 min por cita)</div>

                            <div>
                                <input type="datetime-local" id="fechaCita"
                                       name="fechaCita" class="form-control" value="@Model.CitaFormularioModelo.FechaCita.ToString("yyyy-MM-ddTHH:mm:ss")">

                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-body">
                            <h5>Costo</h5>
                            <div class="mt-3">Escriba el monto</div>

                            <div>
                                <input type="text" id="monto" name="monto" class="form-control" value="@Model.CitaFormularioModelo.monto" />

                            </div>
                        </div>
                    </div>

                    <div class="text-end mt-3">
                        <input class="btn btn-primary" type="submit" value="Guardar Cita" />
                    </div>

                }
            </div>
        </div>

    </div>

</div>
<script>
    (function () {

        document.querySelector("#medicoSelect").addEventListener("change", (e) => {
            let medicoId = e.target.value;

            fetch(`/api/consultorios?medicoId=${medicoId}`)
                .then(resp => resp.json())
                .then((data) => {
                    var options = '<option value="-1">Seleccione</option>';

                    data.forEach(consultorio => {
                        options += `<option value=${consultorio.ConsultorioID}>${consultorio.NumeroConsultorio}</option>`

                    })

                    document.querySelector("#consultorioId").innerHTML = options;
                    document.querySelector("#consultorioId").value = '@Model.CitaFormularioModelo.ConsultorioId'

                });

        });

        setTimeout(() => {
            var consultorio = "@Model.CitaFormularioModelo.ConsultorioId";
            var select = document.querySelector("#medicoSelect");
            var options = document.querySelector("#medicoSelect option");
            if (consultorio.length > 0) {
               select.dispatchEvent(new Event("change"));
            }

        }, 200)



    })();


</script>