@model MedControlNet.Models.ReportesModelo

@{ 

    var fecha = DateTime.Now;
}
<h3 class="mt-5">Reportes (Fecha: @fecha.ToLocalTime())</h3>
<div class="row">
    <div class="col-8">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h6>Pacientes atendidos</h6>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group">

                            @foreach (var paciente in Model.Pacientes)
                            {
                                <li class="list-group-item">@paciente.Identificacion - @paciente.Nombre</li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h6>Medicos que atendieron</h6>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group">

                            @foreach (var medico in Model.Medicos)
                            {
                                <li class="list-group-item">@medico</li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h6>Citas atendidas</h6>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="accordion-body">
                            <ul class="list-group">

                                @foreach (var citas in Model.Citas)
                                {
                                    <li class="list-group-item">@MvcHtmlString.Create(citas)</li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        <h6>Lista de especialidades por consultorio</h6>
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group">

                            @foreach (var consultorio in Model.Consultorios)
                            {

                                var especialidades = consultorio.Especialidads.Select(esp => esp.NombreEspecialidad).ToList();

                                if (especialidades.Count > 0)
                                {
                                    <li class="list-group-item">
                                        <span class="fw-bold">Consultorio #@consultorio.NumeroConsultorio</span>
                                        <ul>
                                            @foreach (var especialidad in especialidades)
                                            {
                                                <li>@especialidad</li>
                                            }
                                        </ul>
                                    </li>
                                }


                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        <h6>Reporte de ingreso</h6>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h6>Citas</h6>
                        @{
                            var conteoCitas = Model.ConteoCitas;
                            var conteoCitasIngresadas = Model.ConteoIngresos;

                        }
                        <div class="fw-bold">Total ingresadas: @conteoCitasIngresadas</div>
                        <div class="fw-bold">Total atendidas: @conteoCitas
                    </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        <h6>Estadísticas</h6>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div>
                            <h6>Porcentaje de atención por cada médico</h6>

                            <ul class="list-group">

                                @foreach (var medicoPorcentaje in Model.PorcentajeDeAtencionPorMedico)
                                {
                                    <li class="list-group-item">
                                        @medicoPorcentaje.Medico.Nombre (@medicoPorcentaje.PorcenajeAtencion.ToString("#.##")%)
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: @medicoPorcentaje.PorcenajeAtencion.ToString("#.##")%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                }

                            </ul>

                            <hr />
                            <h6>Porcentaje de especialidades atendidas</h6>
                            @Model.PorcentajeEspecialidades %
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: @Model.PorcentajeEspecialidades%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>